<ul id="navList">
	<li id="indexLink">
		<a href="./index.html">
			<img src="./img/journal-bookmark.svg" alt=""/> <span>Notizen</span></a
		>
	</li>
	<li id="trashLink">
		<a href="./trash.html"
			><img src="./img/trash.svg" alt="" /> <span>Papierkorb</span></a
		>
	</li>
	<li id="changeColorLink" onclick="changeColorPage()">
		<a href="#"><img src="./img/palette.svg" alt="" /> <span>Farbe</span></a>
	</li>
	<li id="colorLink" class="color-link" onclick="selectColor()">
		<a href="#"><input id="inputColor" type="color" /><span>Auswählen</span></a>
	</li>
	<li id="resetColorLink" class="color-link" onclick="resetColorPage()">
		<a href="#"><img src="./img/recycle.svg" alt="" /> <span>Resetten</span></a>
	</li>
</ul>
